@charset "UTF-8";
.titulo {
  margin: 40%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-attachment: fixed; }

h1, h2, h3, p, ul, li {
  color: white; }

.contenedor_home {
  width: 100%;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-areas: " texto_main  imagen_asic" " texto_main  imagen_asic" " imagen_celular   texto" " imagen_celular   texto";
  grid-template-columns: auto;
  grid-template-rows: 20px auto;
  row-gap: 90px;
  column-gap: 20px; }

.texto_main {
  grid-area: texto_main;
  background-image: linear-gradient(135deg, #1f318048 30%, #7d2fccc5 100%);
  border-radius: 10px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
  padding-top: 140px;
  font-size: 25px;
  line-height: 2.0; }

.imagen_asic {
  grid-area: imagen_asic;
  padding: 10px; }

.texto {
  grid-area: texto;
  background-image: linear-gradient(135deg, #1f318048 30%, #7d2fccc5 100%);
  border-radius: 10px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 20px;
  line-height: 1.8; }

.imagen_celular {
  grid-area: imagen_celular;
  padding: 10px; }

@media only screen and (max-width: 760px) {
  .contenedor_home {
    margin: auto;
    height: 1900px;
    display: grid;
    grid-template-areas: "imagen_asic" "texto_main" "imagen_celular" "texto";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .texto_main {
    font-size: 17px;
    line-height: 1.8;
    padding-top: 60px; }
  .imagen_asic img {
    width: 100%; }
  .imagen_celular img {
    width: 100%; }
  .texto {
    font-size: 15px; } }

@media only screen and (min-width: 762px) and (max-width: 1023px) {
  .contenedor_home {
    height: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas: "texto_main imagen_asic" "texto_main imagen_asic" "imagen_celular texto" "imagen_celular texto";
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .imagen_asic img {
    width: 100%; }
  .imagen_celular img {
    width: 100%; }
  .texto_main {
    font-size: 17px;
    line-height: 1.8;
    padding-top: 70px; }
  .texto {
    font-size: 15px; } }

.imagen_centrada {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto; }

.posH2 {
  /* pisicion de texto "placas de video que utilizamos etc */
  text-align: center;
  text-transform: uppercase; }

.h1Rigs {
  padding-top: 30px;
  text-align: center; }

.items_mineria_asic {
  line-height: 2.5;
  font-size: 16.5px; }

.tabla-rig {
  border: solid white;
  padding: 10px;
  font-size: 20px; }

.carousel-item img {
  width: 200px; }

.contenedor_rigs {
  width: 100%;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-areas: " texto_rigs  mineria" " texto_rigs  mineria" "  placas     placas";
  grid-template-columns: 50% 50%;
  grid-template-rows: 20px auto;
  row-gap: 20px;
  column-gap: 20px; }

.texto_rigs {
  grid-area: texto_rigs;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px;
  font-size: 15px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); }

.mineria {
  grid-area: mineria;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); }

.placas {
  grid-area: placas; }

@media only screen and (min-width: 762px) and (max-width: 1023px) {
  .contenedor_rigs {
    height: 1550px;
    margin: auto;
    display: grid;
    grid-template-areas: " texto_rigs " "   mineria " " placas";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .texto_rigs img {
    width: 300px; }
  .mineria ul {
    font-size: 18px; } }

@media only screen and (max-width: 760px) {
  .contenedor_rigs {
    height: 2100px;
    margin: auto;
    display: grid;
    grid-template-areas: " texto_rigs " "   mineria " " placas";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .texto_rigs img {
    width: 300px; }
  .mineria ul {
    font-size: 14px; } }

.titulo-asic {
  padding: 10px;
  text-align: center;
  margin: auto; }

.titulo-video {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.titulo-modelos-asic {
  text-align: center;
  font-size: 35px;
  padding-top: 60px;
  padding-bottom: 10px; }

.antminer {
  text-align: center;
  font-size: 25px; }

.especifiaciones-asic {
  padding-top: 10px; }

.video {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
  height: 400px; }

.p-asic {
  line-height: 1.8; }

.l3 {
  position: relative;
  bottom: 50px;
  height: 500px; }

.contenedor_asic {
  width: 100%;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-areas: "asicc  asicc" "l33  s199" "l33   s199";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px; }

.asicc {
  grid-area: asicc;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px;
  font-size: 20px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); }

.l33 {
  grid-area: l33;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); }

.s199 {
  grid-area: s199;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 760px) {
  .contenedor_asic {
    height: 3200px;
    margin: auto;
    display: grid;
    grid-template-areas: " asicc " "  l33 " " s199";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .asicc {
    font-size: 15px; }
  .l33
img {
    width: 400px; }
  .s199 img {
    width: 400px; } }

@media only screen and (min-width: 762px) and (max-width: 1023px) {
  .contenedor_asic {
    height: 3000px;
    margin: auto;
    display: grid;
    grid-template-areas: " asicc " "  l33 " " s199";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px; }
  .l33 img {
    width: 600px; }
  .s199 img {
    width: 500px; } }

.imagen_centrada {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto; }

.contenedor_servicio {
  width: 100%;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-areas: " servicioo     trabajo" " servicioo     trabajo" "fotos_servicio fotos_servicio";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 20px; }

.servicioo {
  grid-area: servicioo;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

.trabajo {
  grid-area: trabajo;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

.fotos_servicio {
  grid-area: fotos_servicio;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

@media only screen and (max-width: 760px) {
  .contenedor_servicio {
    height: 1550px;
    display: grid;
    grid-template-areas: "servicioo" "trabajo" "fotos_servicio";
    grid-template-columns: 100%;
    grid-template-rows: 550px;
    row-gap: auto;
    column-gap: 10px; }
  .nosotros h1 {
    font-size: 25px; }
  .nosotros p {
    font-size: 13.3px;
    line-height: 1.8; }
  .mapa h1 {
    font-size: 25px; }
  .mapa img {
    width: 200px; } }

.box_uno {
  width: 100%;
  /* Ancho de 360*/
  text-align: center;
  font-size: 35px;
  color: white; }

.box_dos {
  background-color: #33D374;
  width: 50%; }

/* Mi constante */
.p_ejemplo {
  color: white;
  font-size: 20px; }

/* BUCLES ------------------------------ */
/* quiere decir que la variable "i" osea $i va a ir de 1 a 3 */
.casitodos_1 {
  width: 2em; }

/* definimos clase casitodos_ y que su ancho es igual a 2em * 1=2 / *2=2 / *3=6 */
/* quiere decir que la variable "i" osea $i va a ir de 1 a 3 */
.casitodos_2 {
  width: 4em; }

/* definimos clase casitodos_ y que su ancho es igual a 2em * 1=2 / *2=2 / *3=6 */
/* quiere decir que la variable "i" osea $i va a ir de 1 a 3 */
.casitodos_3 {
  width: 6em; }

/* definimos clase casitodos_ y que su ancho es igual a 2em * 1=2 / *2=2 / *3=6 */
.caja_1 {
  width: 1%; }

.caja_2 {
  width: 2%; }

.caja_3 {
  width: 3%; }

.caja_4 {
  width: 4%; }

.caja_5 {
  width: 5%; }

.puma-icon {
  Background-image: url("/images/puma.png"); }

.sea-slug-icon {
  Background-image: url("/images/sea-slug.png"); }

.egret-icon {
  Background-image: url("/images/egret.png"); }

/*animal tendrá los valores de cada uno */
.button_blue {
  background: blue; }

.button_green {
  background: green; }

.button_red {
  background: red; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--send-mail {
  background-color: #C25E30; }

/* FIN BUCLES ------------------------------ */
.redsocial, .redsocial--nueva {
  border: 1px #f00;
  background-color: #fdd; }

.redsocial--nueva {
  border-width: 3px; }

.box {
  height: 50px;
  width: 500px; }

/* ejemplo probando sass clase 12 */
.h1_nosotros {
  padding: 10px;
  text-align: center; }

.p_nosotros {
  font-size: 23px;
  line-height: 2.0; }

.letra_formulario {
  font-size: 20px;
  color: white; }

.letra_chica_formulario {
  font-size: 16px;
  color: white; }

.ubicacion {
  font-size: 20px;
  text-align: center; }

.imagen_ubicacion {
  width: 45%;
  border-radius: 10px;
  display: flex;
  margin: auto; }

.contenedor {
  width: 100%;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-areas: " nosotros     mapa" " nosotros     mapa" "formulario formulario";
  grid-template-columns: 50% 50%;
  grid-template-rows: 20px auto;
  row-gap: 20px;
  column-gap: 20px; }

.nosotros {
  grid-area: nosotros;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

.mapa {
  grid-area: mapa;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

.formulario {
  grid-area: formulario;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 10px;
  border: solid white;
  padding: 10px; }

@media only screen and (max-width: 760px) {
  ul a {
    font-size: 12px; }
  .contenedor {
    height: 1350px;
    display: grid;
    grid-template-areas: "nosotros" "mapa" "formulario";
    grid-template-columns: 100%;
    grid-template-rows: 450px 350px 470px;
    row-gap: 20px;
    column-gap: 20px; }
  .nosotros h1 {
    font-size: 25px; }
  .nosotros p {
    font-size: 13.3px;
    line-height: 1.8; }
  .mapa h1 {
    font-size: 25px; }
  .mapa img {
    width: 200px; } }

@media only screen and (min-width: 762px) and (max-width: 1023px) {
  .contenedor {
    height: 1350px;
    margin: auto;
    display: grid;
    grid-template-areas: " nosotros " "   mapa " " formulario";
    grid-template-columns: 100%;
    grid-template-rows: 400px 430px;
    row-gap: 20px;
    column-gap: 20px; }
  .mapa img {
    width: 300px; }
  .nosotros p {
    font-size: 18px; } }

* {
  margin: 0px;
  padding: 0px; }

.logo {
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.tamanio-logo {
  width: 100px; }

html {
  min-width: 400px;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 30px;
  font-size: 14px;
  font-weight: 400;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-attachment: fixed; }

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 50px; }

h1 {
  color: #fff;
  font-size: 30px; }

h2 {
  color: #fff; }

h3 {
  color: #fff; }

h4 {
  color: #fff; }

p {
  color: #fff; }

ul li {
  color: #fff; }

.insta {
  width: 40px;
  margin: auto; }

tr td {
  color: white; }

tr th {
  color: white; }

.bordesRedondeados {
  border-radius: 20px; }

.negrita {
  font-weight: bold; }

.centrado {
  text-align: center; }

.izquierda {
  text-align: left; }

.derecha {
  text-align: right; }

.mayus {
  text-transform: uppercase; }

.espaciado {
  letter-spacing: 3px; }

.textoRelativo {
  font-size: 200%; }

.interlineado {
  line-height: 1.6; }

.interlineado_venta {
  line-height: 2.0; }

.fondotexto {
  background-color: skyblue; }

ul {
  padding: 10px;
  list-style-type: none;
  overflow: hidden; }

li {
  float: left; }

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-inline: 40px; }
