*{
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 100px;
    
}

    /* display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */


.logo{
    height: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.tamanio-logo{
    width: 100px;
}

html{
    min-width: 400px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    padding: 30px;
    font-size: 14px;
    font-weight: 400;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    max-width: 100vw;
    min-width: 400px;
}

footer{
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
}

h1{
    color: #fff;
    font-size: 30px;;
}

h2{
    color: #fff;
}

h3{
    color: #fff;
}

h4{
    color: #fff;
}

p{
    color: #fff;
}

ul li{
    color: #fff;
}

.insta{
    width: 40px;
    margin: auto;
}

tr td{
    color: white;
}
tr th{
    color: white;
}

.bordesRedondeados{
    border-radius: 20px;
}

.negrita {
    font-weight: bold;
}

.centrado{
    text-align: center;
}

.izquierda{
    text-align: left;
}

.derecha{
    text-align: right;
}

.mayus{
    text-transform: uppercase;
}

.espaciado{
    letter-spacing: 3px;
}
.textoRelativo{
    font-size: 200%;
}
.interlineado{
    line-height: 1.6;
}
.fondotexto{
    background-color: skyblue;
}

ul {
    padding: 10px ;
    list-style-type: none;
    overflow: hidden;}
  li {
    float: left;}
  li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-inline: 40px;
} 

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
}
h1, h2, h3, p, ul, li {
    color: white;
}

.posicionImg {
    position: relative;
    top: 5px; 
    left: 770px;
}
